<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Email" value="appres@ucda.org" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>

		<bindings>
			<customBinding>
				<binding name="TestMexBinding">
					<tcpTransport maxPendingConnections="20" listenBacklog="20">
						<connectionPoolSettings groupName="default"  maxOutboundConnectionsPerEndpoint="20" />
					</tcpTransport>
				</binding>
			</customBinding>

			<netTcpBinding>
				<binding name="NetTcpBinding_IService1" listenBacklog="20" maxConnections="20">

					<security mode="None">

						<transport clientCredentialType="None" />

						<message clientCredentialType="None" />

					</security>
				</binding>

			</netTcpBinding>

		</bindings>

		<client />
		<services>
			<service name="LNAB.PatientService" behaviorConfiguration="MEXGET">
				<endpoint address="" contract="LNAB.IService1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" />
				<endpoint address="mex" binding="customBinding" contract="IMetadataExchange" bindingConfiguration="TestMexBinding"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MEXGET">
					<serviceMetadata/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

	</system.serviceModel>
	<connectionStrings>
		<add name="LNABService.Properties.Settings.connStr" connectionString="Data Source=SQLCLA;Initial Catalog=Searches;Integrated Security = true;" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp from="LNAB@UCDA.org">
				<network host="mail" password="" userName="" />
			</smtp>
		</mailSettings>
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>